<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <% if logged_in? %>
    <h2>Welcome, <%= current_user.email %>% %></h2>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
    <% else %>
      <a href="<%= new_user_url %>"> Sign Up </a>
      <a href="<%= new_session_url %>"> Log In </a>

  </form>
<% end%>



    <%= yield %>

    <% if flash[:errors] %>
      <% flash[:errors].each do |error|%>
        <p><%= error %><p>
      <% end %>
    <% end %>
  <% if flash[:messages] %>
      <% flash[:messages].each do |message|%>
        <p><%= message %><p>
      <% end %>
    <% end %>
  </body>
</html>
